body {
    width: 100%;
    margin: 0 auto;
    font: 100% Arial, Helvetica, sans-serif;
    color: white;
    padding: 0 50px 1em;
    background: #0066cc;
    }

header h1 {
    display: block;
    width: 105%;
    left: 50;
    right: 50;
    margin-left: -3vw;
    margin-right: 0vw;
    padding: 1.25rem 2rem;
    box-sizing: border-box;
    border-radius: 0;
}

h1 {
    width: auto;
    font-size: 1.75em;
    margin: 0 auto;
    padding: 5px 10px;
    background: #eeee;
    color: #000000;
}

.text-window{
    font-size: 1.5em;
    width: 40%;
    background: #a5c9ec;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em 0;
    color: black
}

.image-column {
    flex:1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px
}

p {
    font-size: 1em;
}

.split-container {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
}

.image-window {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    
    display: grid;
    grid-template-columns: .25fr .25fr;
    align-items: center;
    gap: 20px;
}
