body {
    width: 100%;
    margin: 0 auto;
    font: 100% Arial, Helvetica, sans-serif;
    color: white;
    padding: 0 50px 1em;
    background: #0066cc;
    }

header h1 {
    display: block;
    width: 100%;
    left: 50;
    right: 50;
    margin-left: -3vw;
    margin-right: 0vw;
    padding: 1.25rem 2rem;
    box-sizing: border-box;
    border-radius: 0;
}

h1 {
    width: auto;
    font-size: 1.75em;
    margin: 0 auto;
    padding: 5px 10px;
    background: #eeee;
    color: #000000;
}

.split-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

.left-column {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.text-window{
    font-size: 1.5em;
    width: 80%;
    background: #a5c9ec;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em 0;
    color: black;
}

.image-window {
    flex: 0;
    column-count: 2;
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.image-window video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.25rem;
}

